{# templates/home.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>JSON routes</h1>



    <form method="post" action="">
    <p>
        <input type="submit" name="quote" value="Visar slumpade citat"
            onClick="this.form.action='{{ path('quote') }}';">

        <input type="submit" name="shuffle" value="Visar blandad kortlek"
            onClick="this.form.action='{{ path('api_shuffle') }}';">

        <input type="submit" name="draw" value="Visar ett draget kort"
            onClick="this.form.action='{{ path('api_draw') }}';">

       <input type="submit" name="draw" value="Visar flera dragna kort"
            onClick="this.form.action='{{ path('api_draw_many', {num: 2}) }}';">

        <input type="submit" name="sorterad" value="Visar sorterad kortlek"
            onClick="this.form.action='{{ path('api_deck') }}';this.form.method='get';"

        
    </p>
</form>




{% endblock %}
